<h1>Listing suggestions</h1>

<table>
  <thead>
    <tr>
      <th>User 1</th>
      <th>User 2</th>
      <th>Accepted by user 1</th>
      <th>Accepted by user 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr>
        <td><%= suggestion.user_1 %></td>
        <td><%= suggestion.user_2 %></td>
        <td><%= suggestion.accepted_by_user_1 %></td>
        <td><%= suggestion.accepted_by_user_2 %></td>
        <td><%= link_to 'Show', suggestion %></td>
        <td><%= link_to 'Edit', edit_suggestion_path(suggestion) %></td>
        <td><%= link_to 'Destroy', suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suggestion', new_suggestion_path %>
